/* InfoSection.css */
.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #e0e0e0;
}

.info-text {
  max-width: 50%;
}

.info-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.info-image img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: 50px;
}
