/* ProductsSection.css */
.products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #fafafa;
}

.product {
  width: 200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product p {
  font-size: 16px;
  color: #333;
}

/* Individual category section */
.category-section {
  margin-bottom: 40px;
}

/* Category title */
.category-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
} /* Horizontal product list */

.product-list {
  display: flex; /* Makes the product list horizontal */
  gap: 20px; /* Space between products */
  overflow-x: auto; /* Adds horizontal scrolling if there are too many products */
  padding-bottom: 10px; /* Space for scroll bar */
  flex-wrap: wrap;
  justify-content: space-around;
}
